.apartment {
  max-width: 1240px;
  margin: 0 auto;
  padding: 20px;

  &-banner {
    img {
      width: 100%;
      height: 415px;
      border-radius: 10px;
      object-fit: cover;
      margin-bottom: 20px;
    }
  }

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    width: 100%;

    .apartment-info {
      flex: 1;

      h1 {
        font-size: 24px;
        font-weight: 500;
        color: #ff6060;
        margin: 10px 0;
      }

      p {
        margin: 5px 0;
        font-size: 18px;
        color: #000;
      }

      .apartment-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 15px;

        .tag {
          background: #ff6060;
          color: #fff;
          padding: 5px 15px;
          border-radius: 10px;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }

    .apartment-host {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;

      .host {
        display: flex;
        align-items: center;
        gap: 10px;

        p {
          white-space: pre-line;
          font-size: 16px;
          font-weight: 500;
          color: #ff6060;
          text-align: right;
        }

        img {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .rating {
        display: flex;
        gap: 5px;
        margin-top: 20px;

        .star {
          font-size: 24px;
          color: #e3e3e3;

          &.filled {
            color: #ff6060;
          }
        }
      }
    }
  }

  &-collapses {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    padding: 8px 10px;
    max-width: 100%;
    margin-top: 5px;

    &-content {
      flex-direction: column;
      gap: 20px;

      .apartment-info {
        h1 {
          font-size: 18px;
        }

        p {
          font-size: 14px;
        }

        .apartment-tags {
          flex-wrap: wrap;
          gap: 8px;

          .tag {
            font-size: 10px;
            font-weight: 700;
            padding: 5px 10px;
          }
        }
      }

      .apartment-host {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .host {
          flex-direction: row;

          img {
            width: 32px;
            height: 32px;
          }

          p {
            text-align: right;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .rating {
          margin-top: 0;
          
          .star { 
          font-size: 18px;
          
          &.filled {
            color: #ff6060;
          }
          }
        }
      }
    }

    &-collapses {
      grid-template-columns: 1fr;
      gap: 5px;
    }
  }
}

.collapse-content {
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      margin-bottom: 5px;
      font-size: inherit;
      color: #000;
    }
  }
}
