.home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 100px;

  .card-wrapper {
    background: #f6f6f6;
    border-radius: 10px;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  /* Tablette */
  @media screen and (max-width: 1024px) {
    .card-wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 20px;
    }
  }

  /* Mobile */
  @media screen and (max-width: 768px) {
    margin: 0 auto;

    .card-wrapper {
      grid-template-columns: 1fr;
      background-color: transparent;
      padding: 0;
      gap: 20px;
    }
  }
}
