.collapse {
    margin: 1rem 0;
    border-radius: 5px;
    overflow: hidden;
  
    &-header {
      background-color: #ff6060;
      color: white;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      span {
        font-size: 24px;
        font-weight: 700;

      }
  
      .icon {
        transition: transform 0.3s ease;
      }
  
      .rotate {
        transform: rotate(180deg);
      }
    }
  
    &-content {
      background-color: #f6f6f6;
      color: #000;
      padding: 1rem;
      font-size: 16px;
      line-height: 1.4;
    }

    &-content ul,
    &-content ul li {
    font-size: inherit;
  }

  

    @media screen and (max-width: 1024px) {
    &-header {
      font-size: 20px; 
      padding: 12px 16px;

      span{
      font-size: 20px;
    }
  }

    &-content {
      font-size: 14px;
      padding: 12px 16px;
    }

    &-content ul,
    &-content ul li {
      font-size: inherit;
    }
  }

  
  @media screen and (max-width: 768px) {
    &-header {
      font-size: 14px; 
      padding: 10px 14px;

      span{
      font-size: 14px;
    }

    }

    &-content {
      font-size: 12px; 
      padding: 10px 14px;
    }

    &-content ul,
    &-content ul li {
      font-size: inherit;
    }

  }
}
