.header {
  max-width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 2rem 0;

  .logo {
    height: 50px;
  }


  nav {
    display: flex;
    gap: 40px; 
  }

  nav ul {
    display: flex;
    gap: 400px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    font-weight: 500;
    color: #000;
    font-size: 18px;

    &.active {
      text-decoration: underline;
    }
  }


  @media screen and (max-width: 1024px) {
  .card-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
  }
}



 @media screen and (max-width: 768px) {
    padding: 8px 10px;
    max-width: 100%;
    margin: 20px 0;

    .logo {
      height: 48px;
    }

    nav {
      gap: 20px;

      a {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 375px) {
    
    padding: 8px 10px;
    max-width: 100%;
    margin: 20px 0;

    .logo {
      height: 42px;
    }

    nav {
      gap: 15px;

      a {
        font-size: 12px;
      }
    }
  }
}

