.header {
  max-width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 2rem 0;

  .logo {
    height: 50px;
  }


  nav {
    display: flex;
    gap: 40px; 
  }

  nav ul {
    display: flex;
    gap: 400px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav a {
    text-decoration: none;
    font-weight: 500;
    color: #000;
    font-size: 18px;

    &.active {
      text-decoration: underline;
    }
  }

@media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;

    nav {
      gap: 20px;
      margin-top: 10px;
    }

    img {
      height: 40px;
    }
  }
}
