.banner {
  position: relative;
  width: 100%;         
  height: 223px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px -2px #656565;
  overflow: hidden;

  .banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    border-radius: 15px;
    filter: brightness(40%);
    
  }

  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 90%;
  }
  
  @media screen and (max-width: 768px) {
    .banner-text {
      font-size: 24px;
    }
  }
}
